<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Wardrobe</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button routerLink="/garments/new" type="button" class="btn btn-sm btn-outline-primary">Add new</button>
        </div>
    </div>
</div>

<p *ngIf="!garments"><em>Loading...</em></p>
<p *ngIf="garments?.length === 0"><em>No garments found.</em></p>

<div class="table-responsive">
    <table class="table table-hover text-start">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Color</th>
                <th scope="col">Size</th>
                <th scope="col">Category</th>
                <th scope="col">Wardrobe</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="garments">
            <tr *ngFor="let garment of garments" (click)="onRowClick(garment.id)">
                <td>{{ garment.id }}</td>
                <td>{{ garment.name }}</td>
                <td>{{ garment.color }}</td>
                <td>{{ garment.size }}</td>
                <td>{{ garment.category }}</td>
                <td>{{ garment.wardrobe }}</td>
                <td>
                    <div class="btn-group">
                        <button (click)="onDelete(garment.id); $event.stopPropagation()"
                            class="btn btn-outline-danger btn-sm">Delete</button>
                        <button (click)="onEdit(garment.id); $event.stopPropagation()"
                            class="btn btn-outline-primary btn-sm">Edit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>