<h5>Top 10 Most Used Garments</h5>

<!-- Dropdown för att välja kategori -->
<div class="mb-3">
  <label for="categoryFilter" class="form-label">Filter by Category:</label>
  <select id="categoryFilter" class="form-select" [(ngModel)]="selectedCategory" (ngModelChange)="filterGarments()">
    <option *ngFor="let category of categories" [ngValue]="category.id">
      {{ category.name }}
    </option>
  </select>
</div>

<!-- Period-filter -->
<div class="mb-3">
  <label for="periodFilter" class="form-label">Filter by Period:</label>
  <select id="periodFilter" class="form-select" [(ngModel)]="selectedPeriod" (ngModelChange)="filterGarments()">
    <option [ngValue]="'all'">All time</option>
    <option [ngValue]="'week'">Last Week</option>
    <option [ngValue]="'month'">Last Month</option>
    <option [ngValue]="'year'">Last Year</option>
  </select>
</div>


<div class="table-responsive">
  <table class="table table-hover text-start">
    <thead>
      <tr>
        <th scope="col">Garment</th>
        <th scope="col">Usage Count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let garment of garments" (click)="onRowClick(garment.id)">
        <td>{{ getFriendlyGarmentId(garment) }}</td>
        <td>{{ garment.usage_count }}</td>
        <td>
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-primary"
              (click)="logUsage(garment.id); $event.stopPropagation()">
              Log Usage
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>