<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Listing #{{ listing?.id }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button routerLink="/listings/edit/{{ listing?.id }}" type="button"
                class="btn btn-sm btn-outline-primary">Edit</button>
        </div>
    </div>
</div>

<p *ngIf="!listing"><em>Loading...</em></p>

<div *ngIf="listing">
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Garment</span>
        <p class="m-0">{{ listing.garment.name }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Color</span>
        <p class="m-0">{{ listing.garment.color }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Size</span>
        <p class="m-0">{{ listing.garment.size }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Category</span>
        <p class="m-0">{{ listing.garment.category.name }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Wardrobe</span>
        <p class="m-0">{{ listing.garment.wardrobe }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Description</span>
        <p class="m-0">{{ listing.description }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Time</span>
        <p class="m-0">{{ listing.time | date:'shortDate' }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Place</span>
        <p class="m-0">{{ listing.place }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Price</span>
        <p class="m-0">{{ listing.price }} SEK</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Payment Method</span>
        <p class="m-0">
            {{ listing.payment_method.name }}
        </p>
    </div>
</div>