<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Market Listings</h1>
</div>

<div class="table-responsive">
    <form [formGroup]="filterForm" (keydown.enter)="onApplyFilters(); $event.preventDefault()">
        <table class="table table-hover text-start">
            <thead>
                <tr>
                    <th colspan="2">
                        <select class="form-control" formControlName="ordering">
                            <option value="">-- Order by --</option>
                            <option value="price">Price</option>
                            <option value="color">Color</option>
                            <option value="size">Size</option>
                            <option value="category">Category</option>
                        </select>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Color" formControlName="color" />
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Size" formControlName="size" />
                    </th>
                    <th>
                        <select class="form-control" formControlName="category">
                            <option value="">Select category</option>
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Max price" formControlName="max_price" />
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Min price" formControlName="min_price" />
                    </th>
                    <th>
                        <select class="form-control" formControlName="payment_method">
                            <option value="">Select payment method</option>
                            <option *ngFor="let method of paymentMethods" [value]="method.id">
                                {{ method.name }}
                            </option>
                        </select>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Place" formControlName="place" />
                    </th>
                    <th>
                        <button type="button" class="btn btn-primary btn-sm" (click)="onApplyFilters()">Apply</button>
                    </th>
                </tr>
                <tr>
                    <th scope="col">Seller</th>
                    <th scope="col">Description</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Place</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment by</th>
                    <th scope="col">Contact</th> <!-- New Header -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listing of listings" (click)="onRowClick(listing.id)">
                    <td>{{ listing.owner.first_name }}</td>
                    <td>{{ listing.description }}</td>
                    <td>{{ listing.garment.color }}</td>
                    <td>{{ listing.garment.size }}</td>
                    <td>{{ listing.garment.name }}</td>
                    <td>{{ listing.time | date:'shortDate' }}</td>
                    <td>{{ listing.place }}</td>
                    <td>{{ listing.price }}</td>
                    <td>{{ listing.payment_method.name }}</td>
                    <td>
                        <div class="btn-group">
                            <button (click)="onContact(listing.id); $event.stopPropagation()"
                                class="btn btn-outline-secondary btn-sm">Contact seller</button>
                        </div>
                    </td>                    
                </tr>
            </tbody>
        </table>
    </form>
</div>

<p *ngIf="!listings"><em>Loading...</em></p>
<p *ngIf="listings?.length === 0"><em>No listings found.</em></p>
