<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
</div>

<div class="table-responsive">
        <table class="table table-hover text-start">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" (click)="onRowClick(user.id)">
                    <td>{{ user?.first_name }}</td>
                </tr>
            </tbody>
        </table>
</div>

<p *ngIf="!users"><em>Loading...</em></p>
<p *ngIf="users?.length === 0"><em>No listings found.</em></p>
