<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Usage #{{ usage?.id }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button routerLink="/usages/edit/{{ usage?.id }}" type="button"
                class="btn btn-sm btn-outline-primary">Edit</button>
        </div>
    </div>
</div>

<p *ngIf="!usage"><em>Loading...</em></p>

<div *ngIf="usage">
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Date</span>
        <p class="m-0">{{ usage.date }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Comment</span>
        <p class="m-0">{{ usage.comment }}</p>
    </div>
    <div class="p-3 ps-3 pt-2 mb-3 bg-light rounded">
        <span class="text-muted small">Garment ID</span>
        <p class="m-0">{{ usage.garment }}</p>
    </div>
</div> -->
