<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Wardrobe</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button routerLink="/garments/new" type="button" class="btn btn-sm btn-outline-primary">Add new</button>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="generateExampleData(30)">Add example
                data (last month)</button>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="generateExampleData(365)">Add example
                data (last year)</button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <form [formGroup]="filterForm" (keydown.enter)="onApplyFilters(); $event.preventDefault()">
        <table class="table table-hover text-start">
            <thead>
                <tr>
                    <th colspan="2">
                        <select class="form-control" formControlName="ordering">
                            <option value="">-- Order by --</option>
                            <option value="description">Description</option>
                            <option value="color">Color</option>
                            <option value="size">Size</option>
                            <option value="category">Category</option>
                            <option value="wardrobe">Wardrobe</option>
                            <option value="-usage_count">Usage</option>
                        </select>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Filter by color" formControlName="color" />
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Filter by size" formControlName="size" />
                    </th>
                    <th>
                        <select class="form-control" formControlName="category">
                            <option value="">Select category</option>
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{ category.name }}
                            </option>
                        </select>
                    </th>
                    <th>
                        <button type="button" class="btn btn-primary btn-sm" (click)="onApplyFilters()">Apply</button>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </form>
</div>

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
    <div class="col" *ngFor="let garment of garments">
        <div class="card shadow-sm hover-highlight" (click)="onRowClick(garment.id)">
            <p-chart type="line" [data]="graphData[garment.id]" [options]="graphOptions"
                class="bd-placeholder-img card-img-top" height="225"></p-chart>
            <div class="card-body">
                <h5 class="card-title">{{ garment.name }}</h5>
                <p class="card-text text-muted">{{ garment.category.name }}</p>
                <p class="card-text"><strong>Color:</strong> {{ garment.color }}</p>
                <p class="card-text"><strong>Size:</strong> {{ garment.size }}</p>
                <p class="card-text"><strong>Used in the last year:</strong> {{ garment.usage_count }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-danger"
                            (click)="onDelete(garment.id)">Delete</button>
                        <button type="button" class="btn btn-sm btn-outline-primary"
                            (click)="onEdit(garment.id)">Edit</button>
                    </div>
                    <small class="text-body-secondary">#{{ garment.id }}</small>
                </div>
            </div>
        </div>
    </div>
</div>


<p *ngIf="!garments"><em>Loading...</em></p>
<p *ngIf="garments?.length === 0"><em>No garments found.</em></p>