<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <span *ngIf="garment">Edit {{ garment.name }} <span class="opacity-25 small">(#{{ garment.id
                }})</span></span>
        <span *ngIf="!garment">Add new garment</span>
    </h1>
</div>

<form [formGroup]="garmentForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-floating mb-3">
        <input id="name" formControlName="name" class="form-control" required placeholder="Name" />
        <label for="name">Name</label>
        <div *ngIf="garmentForm.controls['name'].invalid && garmentForm.controls['name'].touched" class="text-danger">
            Name is required.
        </div>
    </div>

    <div class="form-group form-floating mb-3">
        <input id="wardrobe" formControlName="wardrobe" class="form-control" required placeholder="Wardrobe" />
        <label for="wardrobe">Wardrobe</label>
    </div>

    <div class="form-group form-floating mb-3">
        <input id="color" formControlName="color" class="form-control" required placeholder="Color" />
        <label for="color">Color</label>
    </div>

    <div class="form-group form-floating mb-3">
        <input id="size" formControlName="size" class="form-control" required placeholder="Size" />
        <label for="size">Size</label>
    </div>

    <div class="form-group form-floating mb-3">
        <input id="brand" formControlName="brand" class="form-control" required placeholder="Brand" />
        <label for="brand">Brand</label>
    </div>

    <div class="form-group form-floating mb-3">
        <select id="category" formControlName="category" class="form-control">
            <option [ngValue]="null">-</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>

        </select>
        <label for="category">Category</label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>