<p>listing-summary works!</p>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">My most recent listings</h1>
</div>

<div class="table-responsive">
    <table class="table table-hover text-start">
        <thead>
                <tr>
                    <th scope="col">Garment</th>
                    <th scope="col">Days on market</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listing of listings" (click)="onRowClick(listing.id)">
                    <td>{{ listing.garment.name }}</td>
                    <td>{{ calculateDaysSince(listing.time) }} days</td>
                    <td>{{ listing.price }}</td>

                </tr>
            </tbody>
    </table>
</div>

<p *ngIf="!listings"><em>Loading...</em></p>
<p *ngIf="listings?.length === 0"><em>No listings found.</em></p>
